/* for mobile device */
@media screen and (max-width: 576px){
    /* navigation section responsive style */
   .navigation_serction, .main_hero_section {
    padding-top: 25px;
    flex-direction: column;
}
.nav_list, .nav_list ul {
    margin-top: 10px;
}
.nav_icon {
    margin-top: 20px;
}
/* hero section responsive style */
.main_hero_section {
    flex-direction: column-reverse;
}
.left_hero_sec{
    margin-top: 50px;
}

.left_hero_sec h2{
    font-size: 35px;
}
.left_hero_sec h1{
    font-size: 60px;
}
.right_hero_sec{
    margin-top: 90px;
}
/* we are gamer section responsive style start */
.main_we_gamer{
    flex-direction: column;
    margin-top: 50px;
}
.right_gamer_sec h2, .right_gamer_sec p, .right_gamer_sec span, .right_gamer_sec h4, .gamer_btn{
    text-align: center;
}
.right_gamer_sec h4{
    font-size: 20px;
}

/* online game responsive section style */
.sectin_title h2{
    font-size: 30px;
    font-weight: 600;
}
.game_card_container{
    flex-direction: column;
}
.single_card{
    margin-top: 40px;
}
.single_card p{
    display: block;
    text-align: center;
}
/* play instant responsive style start */
.left_play_instant{
    text-align: center;
}
.play_title1,.play_title2{
    line-height: 40px;
}
.play_title2{
    margin-bottom: 10px;
}
.play_instant_section{
    flex-direction: column;
    margin-top: 70px;
}
.floating_div {
    top: 150px;
    left: -47px;
    height: 80%;
}
.right_play_instant{
    margin-top: -20px;
}

}



/* for tablet device */
@media screen and (max-width: 900px) and (min-width: 576px){
    /* navigation section responsive style */
    .navigation_serction, .main_hero_section {
        padding-top: 25px;
        flex-direction: column;
    }
    .nav_list{
        margin-top: 30px;
    }
    /* hero section responsive styele */
    .main_hero_section {
        flex-direction: column-reverse;
    }
    .left_hero_sec{
        margin-top: 30px;
    }
    .right_hero_sec{
        margin-top: 70px;
    }
    /* we are gamer section responsive style start */
    .main_we_gamer{
        flex-direction: column;
        margin-top: 50px;
    }
    .right_gamer_sec h2, .right_gamer_sec p, .right_gamer_sec span, .right_gamer_sec h4, .gamer_btn{
        text-align: center;
    }

    /* online game responsive section style */
    .game_card_container{
        flex-direction: column;
    }
    .single_card{
        margin-top: 50px;
    }
    .single_card p{
        display: block;
        text-align: center;
    }
    /* play instant responsive style start */
    .left_play_instant{
        text-align: center;
    }
    .play_instant_section{
        flex-direction: column;
        margin-top: 50px;
    }
    .floating_div {
        top: 235px;
        left: -80px;
        height: 70%;
    }
    .play_instant_section{
        margin-top: 70px;
    }
    .right_play_instant{
        margin-top: 50px;
    }
}