/* primary style section start */
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #FF42A5;
    --main-font: 'Work Sans', sans-serif;
}
  
.primary_btn{
    padding: 14px 30px;
    background: var(--main-color);
    font-family: var(--main-font);
    border-radius: 30px;
    border: none;
    font-size: 15px;
    color: #fff;
}


/* header section style start */
header {
    background: #fff;
    height: 80px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
}
.navigation_serction, .main_hero_section, .main_we_gamer, .game_card_container, .play_instant_section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_logo a {
    text-decoration: none;
    display: flex;
    color: #000;
}
.nav_logo a span{
    text-align: center;
    font-family: var(--main-font);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 5px;
}
.nav_list, .nav_list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav_list ul li{
    list-style-type: none;
    margin: 0 10px;
    font-size: 18px;
}
.nav_icon{
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head_youtube{
    color: #FF0000;
}

/* Hero section style start */

.left_hero_sec, .right_hero_sec{
    flex-basis: 50%;
}
.left_hero_sec h2{
    color: #0B0223;
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}
.left_hero_sec h1{
    font-family: var(--main-font);
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left_hero_sec ul li{
    display: flex;
    gap: 5px;
    list-style-type: none;
    color: #534C64;
    font-family: var(--main-font);
    font-size: 17px;
    font-weight: 400;
    line-height: 2;
}
.hero_btn_div{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.hero_2nd_btn{
    background: #4EC5F7;
}
.right_hero_sec img{
    width: 100%;
}

/* we are gamer style start */
.we_gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.left_gamer_sec{
    flex-basis: 55%;
}
.right_gamer_sec{
    flex-basis: 40%;
}
.left_gamer_sec img{
    width: 100%;
}
.right_gamer_sec h2{
    text-align: right;
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;    
}
.right_gamer_sec p{
    color: #534C64;
    text-align: right;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}
.gamer_btn{
    text-align: right;
    margin: 12px 0;
}
.right_gamer_sec span {
    color: #534C64;
    text-align: right;
    font-family: var(--main-font);
    font-size: 17px;
    font-weight: 300;
    line-height: 45px;
    display: block;
}
.right_gamer_sec h4 {
    color: #534C64;
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 700;
    text-align: right;
    margin-top: -5px;
}

/* online game card section style start */
.sectin_title{
    text-align: center;
    line-height: 1.7;
    margin-top: 30px;
}
.sectin_title h2{
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
}
.sectin_title h2 span{
    color: #F948B2;
}
.sectin_title p{
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
}

.game_card_container{
    gap: 20px;
    margin-top: 20px;
}
.single_card img{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}
.single_card{
    position: relative;
    transition: 0.5s;
    box-sizing: border-box;
}
.single_card p{
    position: absolute;
    font-family: var(--main-font);
    color: #534C64;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}
.game_card_hover {
    width: 100%;
    height: 97%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    border-radius: 15px;
    visibility: hidden;
}
.game_card_hover i, .game_card_hover span{
    display: block;
    text-align: center;
    line-height: 2;

} 
.game_card_hover i{
    font-size: 20px;
    color: #fff;
}
.game_card_hover span{
    font-size: 17px;
    color: #F948B2;
}
.single_card:hover .game_card_hover{
    visibility: visible;
}

/* Play instant sectin style start */
.play_instant_section{
    height: 650px;
    margin-top: 70px;
    /* flex-wrap: wrap; */
}
.right_play_instant img{
    width: 100%;
    height: 80%;
}
.right_play_instant{
    text-align: right;
    flex-basis: 40%;
    position: relative;
}
.left_play_instant{
    text-align: right;
    font-family: var(--main-font);
    flex-basis: 40%;
}
.play_title1{
    font-family:  var(--main-font);
    font-size: 35px;
    font-weight: 600;
    line-height: 30px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play_title2{
    color: #0B0223;
    font-family: var(--main-font);
    font-size: 35px;
    font-weight: 600;
    line-height: 60px;
}
.floating_div img{
    width: 100%;
}
.floating_div {
    position: absolute;
    top: 238px;
    left: -150px;
    height: 80%;
}